//erro
body { 
  background-color: #007FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
 width: 40rem;
 height: 30rem;
 margin: 0 auto;
 padding: 5rem;
 background-color: white;
 border-radius: 3rem;
}

form
 {
  display: flex;
  gap: 1rem;
}

.form-container label{
  margin-bottom: 0.8rem;
}

button{
  margin-top: 1rem;
}

.calculations {
  display: flex;
  gap: 1rem;
}

.calculations-container label{
  margin-bottom: 0.8rem;
}

table{
  margin: 3rem 1rem;
  width: 100%;
  text-align: left;
}